<div class="footer-row">
  <div class="footer-column">


    <h2>SALES SUPPORT</h2>
    <h3>sales@diyarme.com</h3>
    <h3>+965-2206-8000</h3>
    <h3>+965-2206-8222</h3>

    <h2>TECHNICAL SUPPORT</h2>
    <h3>support@diyarme.com</h3>
    <h3>+965-2206-8000</h3>

    <h2>CAREER</h2>
    <h3>jobs@diyarme.com</h3>

  </div>
  <div class="footer-column">
    <h2>COMPANY </h2>
    <h3>Our Work</h3>
    <h3>Insights</h3>
    <h3>FAQ </h3>
    <h3>NewsRoom</h3>
    <h3>Team </h3>
    <h3>IT </h3>
    <h3>Pricing </h3>
    <h3>Contact </h3>

  </div>
  <div class="footer-column">
    <h2>SERVICES</h2>
    <h3>Managed Services</h3>
    <h3>Managed Security</h3>
    <h3>Application Solutions</h3>
    <h3>Platform Solutions</h3>

  </div>
  <div class="footer-column">
    <h2>NEWSLETTER</h2>
    <h3>Subscribe to our newsletter to get the latest news and insights</h3>

    <div style="display: flex; padding-top: 1em">
      <nb-icon icon="email-outline" class="iconic" style="padding-right: 5px"></nb-icon>
      <input type="text" nbInput fullWidth status="primary" placeholder="Email address">
      <button size="small" nbButton outline>SUBSCRIBE</button>
    </div>
    <div class="line" style="width: 100%"></div>
    <h2 style="padding-top: 0; color: #8C8C8C" class="gray-text">By subscribing, you accept our <strong
      style="color: white"> Privacy Policy </strong></h2>
  </div>
</div>
<div class="copy-right">
  <div class="rights">
    <img ngSrc="/assets/diyar-logo.png" loading="lazy" alt="logo" class="logo-img-2" height="241" width="400">
    <div class="v-line"></div>
    <h2>© 2023 Diyar United Company. All rights reserved.</h2>
  </div>
  <div class="socials">
    <nb-icon icon="twitter-outline" class="social-icon"></nb-icon>
    <nb-icon icon="linkedin-outline" class="social-icon"></nb-icon>
    <nb-icon icon="message-circle-outline" class="social-icon"></nb-icon>
    <nb-icon icon="github-outline" class="social-icon"></nb-icon>
    <nb-icon icon="google-outline" class="social-icon"></nb-icon>
  </div>
</div>
