
<div class="blue-div-with-size"></div>
<nb-layout>

  <nb-layout-column>
    <div class="flex-row">
      <img ngSrc="/assets/diyar-logo.png" loading="lazy" alt="logo" class="logo-img" height="241" width="400">

      <nb-tabset >

        <nb-tab tabTitle="Home">
          <app-home></app-home>
        </nb-tab>
        <nb-tab tabTitle="Service">
          <h1> Welcome to <strong>Services</strong></h1>
          <img ngSrc="/assets/Coming_Soon_-_Dark.jpg" loading="lazy" alt="hero"
             class="tap-image"   height="2048" width="2048">
        </nb-tab>

        <nb-tab tabTitle="About Us">
          <h1> Welcome to <strong>About US</strong></h1>
          <img ngSrc="/assets/Connection_Lost_-_Dark_.jpg" loading="lazy" alt="hero"
               class="tap-image"   height="2048" width="2048">
        </nb-tab>

        <nb-tab tabTitle="Works">
          <h1> Welcome to <strong>Works</strong></h1>
          <img ngSrc="/assets/Deleted_-_Dark.jpg" loading="lazy" alt="hero"
               class="tap-image"   height="2048" width="2048">
        </nb-tab>

        <nb-tab tabTitle="Insight">
          <h1> Welcome to <strong>Insights</strong></h1>
          <img ngSrc="/assets/Message_Sent_-_Dark.jpg" loading="lazy" alt="hero"
               class="tap-image"   height="2048" width="2048">
        </nb-tab>

        <nb-tab tabTitle="FAQ">
          <h1> Welcome to <strong>FAQ</strong></h1>
          <img ngSrc="/assets/No_Images_-_Dark.jpg" loading="lazy" alt="hero"
               class="tap-image"   height="2048" width="2048">
        </nb-tab>

        <nb-tab tabTitle="Career">
          <h1> Welcome to <strong>Careers</strong></h1>
          <img ngSrc="/assets/Page_Not_Found_-_Dark.jpg" loading="lazy" alt="hero"
               class="tap-image"   height="2048" width="2048">
        </nb-tab>

        <nb-tab tabTitle="Contact">
          <h1> Welcome to <strong>Contacts</strong></h1>
          <img ngSrc="/assets/Success_-_Dark.jpg" loading="lazy" alt="hero"
               class="tap-image"   height="2048" width="2048">
        </nb-tab>
      </nb-tabset>
    </div>

    <router-outlet></router-outlet>

  </nb-layout-column>


</nb-layout>
<app-footer></app-footer>

