.flex-row{
  display: flex;
  align-items: flex-start;
  padding: 0 3rem;
}
.logo-img{

  width: 100px;
  padding-top:10px;
  padding-right: 30px;
  height: auto;
}

.blue-div-with-size{
  background-color: #0133D4;
  height: 10px;
}
