<nb-layout>

  <!-- Insert header here -->


  <nb-layout-column>
    <div >
      <h3>Diyar</h3>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Home">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Service">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="How We Work">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Works">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Team">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Insight">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="FQA">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="NewsRoom">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Contact">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>


      </nb-tabset>


    </div>




    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
