
<div class="blue-div-with-size"></div>
<nb-layout>

  <nb-layout-column>
    <div class="flex-row">
      <img ngSrc="/assets/diyar-logo.png" loading="lazy" alt="logo" class="logo-img" height="241" width="400">

      <nb-tabset >

        <nb-tab tabTitle="Home">
          <app-home></app-home>
        </nb-tab>
        <nb-tab tabTitle="Service">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="How We Work">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Works">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Insight">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="FQA">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="NewsRoom">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Contact">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
      </nb-tabset>
    </div>

    <router-outlet></router-outlet>

  </nb-layout-column>


</nb-layout>
<app-footer></app-footer>

