
<div class="page-container">
  <p class="hero-title">
    In Diyar, we deliver “International Quality by Local Professionals"
  </p>
</div>

<div class="screenshots">
  <img src="/assets/Screenshot%202023-07-07%20at%208.47.08%E2%80%AFPM.jpg" loading="lazy" alt="hero" class="inst-image screenshot1">
  <img src="/assets/Screenshot%202023-07-07%20at%208.48.22%E2%80%AFPM.jpg" loading="lazy" alt="hero" class="inst-image screenshot2">
  <img src="/assets/Screenshot%202023-07-07%20at%208.54.45%E2%80%AFPM.jpg" loading="lazy" alt="hero" class="inst-image screenshot3">
  <img src="/assets/Screenshot%202023-07-07%20at%208.51.02%E2%80%AFPM.jpg" loading="lazy" alt="hero" class="inst-image screenshot4">
  <img src="/assets/Screenshot%202023-07-07%20at%208.56.16%E2%80%AFPM.jpg" loading="lazy" alt="hero" class="inst-image screenshot5">
</div>
