<div class="page-container">
  <p class="hero-title">
    In Diyar, <strong> we deliver</strong> “International<strong> Quality</strong> by Local Professionals"
  </p>
</div>

<div class="screenshots">
  <img ngSrc="/assets/Screenshot%202023-07-07%20at%208.47.08%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot1" height="1292" width="780">
  <img ngSrc="/assets/Screenshot%202023-07-07%20at%208.48.22%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot2" height="1292" width="780">
  <img ngSrc="/assets/Screenshot%202023-07-07%20at%208.54.45%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot3" height="1292" width="780">
  <img ngSrc="/assets/Screenshot%202023-07-07%20at%208.51.02%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot4" height="1292" width="780">
  <img ngSrc="/assets/Screenshot%202023-07-07%20at%208.56.16%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot5" height="1292" width="780">
</div>

<div class="story-telling">
  <p class="paragraph-title">
    Partnering for Success
  </p>
  <p class="gray-text">
    Diyar is a technology company founded in 1980, offering innovative Information and Communication Technology
    solutions and services in Kuwait and the Middle East. They prioritize customer partnership, adding value to client
    businesses, and aim to be the preferred technology partner. Diyar measures success by client success, delivering
    solutions aligned with business objectives and international quality standards. They cater to various sectors and
    emphasize technical innovation, global alliances, and societal advancement. Their promise is "International Quality
    by Local Professionals," empowering businesses with excellence in technology.
  </p>
</div>
<div class="row">
  <h6>OVER THE YEARS</h6>
  <nb-icon icon="diagonal-arrow-right-up-outline" class="iconic"></nb-icon>
</div>


<div class="row-numbers">
  <div class="count-card">
    <h1>
      700+
    </h1>
    <h2>
      HAPPY CUSTOMERS
    </h2>
  </div>
  <div class="count-card">
    <h1>
      1799+
    </h1>
    <h2>
      PROFESSIONAL EMPLOYEES
    </h2>
  </div>
  <div class="count-card">
    <h1>
      6
    </h1>
    <h2>
      OPERATING COUNTRIES
    </h2>
  </div>
</div>

<div class="line" style="margin-top: 5em"></div>

<p class="paragraph-title">
  Out Promise
</p>
<p class="gray-text">
  A steadfast commitment to delivering top-notch quality, exceptional customer experiences, continuous innovation,
  strong business partnerships, and nurturing our valued human capital.
</p>

<div class="cards-row">
  <div class="promise-card" style="background: #0045FA">
    <h2 class="card-title">Commitment to Quality</h2>
    <img ngSrc="/assets/Welcome.png" loading="lazy" alt="hero"
         class="card-image" height="2048" width="2048">

  </div>
  <div class="promise-card" style="background: #01B3F9">
    <h2 class="card-title">Commitment to Customers</h2>
    <img ngSrc="/assets/no_new_notification.png" loading="lazy" alt="hero"
         class="card-image" height="2048" width="2048">

  </div>
  <div class="promise-card" style="background: #666666">
    <h2 class="card-title">Commitment to Innovation</h2>
    <img ngSrc="/assets/Update.png" loading="lazy" alt="hero"
         class="card-image" height="2048" width="2048">

  </div>
  <div class="promise-card" style="background: #313131">
    <h2 class="card-title">Commitment to Partnerships</h2>
    <img ngSrc="/assets/Congratulations.png" loading="lazy" alt="hero"
         class="card-image" height="2048" width="2048">

  </div>
  <div class="promise-card" style="background: #131313">
    <h2 class="card-title">Commitment to Human Capital</h2>
    <img ngSrc="/assets/Success.png" loading="lazy" alt="hero"
         class="card-image" height="2048" width="2048">
  </div>
</div>


<div class="form">
  <div>
    <div class="form-title" >Let's make it happen</div>
    <img ngSrc="/assets/Screenshot%202023-07-08%20at%2011.27.11%E2%80%AFPM.png" loading="lazy" alt="hero"
         class="form-image" height="892" width="1952">
  </div>

  <div class="form-text-con">
    <input type="text" nbInput fullWidth status="control" placeholder="Control">
    <nb-radio status="control" value="1">Option 1</nb-radio>
    <nb-radio status="control" value="2">Option 1</nb-radio>
    <nb-radio status="control" value="3">Option 2</nb-radio>
    <nb-radio status="control" value="4">Option 3</nb-radio>
    <input type="text" nbInput fullWidth status="control" placeholder="Control">
    <input type="text" nbInput fullWidth status="control" placeholder="Control">

    <textarea nbInput fullWidth placeholder="Textarea" status="control"></textarea>
    <button nbButton outline status="control">Primary</button>
    <nb-checkbox status="control"> Toggle me</nb-checkbox>
  </div>


</div>



