.hero-title{
  font-size: var(--step-7);
  line-height: var(--step-8);
  max-width: 70%;
  padding-top: 0.7em;
  padding-bottom: 1.5em;
  font-family: 'Noto Serif Georgian', serif;
  background-repeat: no-repeat;

}

.screenshots{
  position: relative;
  height: 50em;
}

.inst-image{
  width: 18%;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: absolute;
}

.screenshot1{
  top: -5em;
}
.screenshot2{
  top: 9em;
  left: 20em
}
.screenshot3{
  top: 2em;
  left: 40em

}
.screenshot4{
  top: -7em;
  left: 60em

}
.screenshot5{
  top: 0;
  left: 80em;
  z-index: 1;
}

// for text to be read and is gray for each line 70 char
.gray-text{
  color: #8C8C8C;
  font-size: var(--step--1);
  line-height: var(--step-2);
  max-width: 120ch;
}

.paragraph-title{
  font-size: var(--step-6);
  line-height: var(--step-6);
  padding-bottom: 1em;
  font-weight: lighter;
}
.story-telling{
  padding-bottom: 5em;
}

.row{
  display: flex;
  align-items: end;
}
.row-numbers{
  display: flex;
  justify-content: space-around;
}
.count-card{
  padding-top: 5em;
  display: flex;
  align-items: center;
}

.count-card > h1{
  font-size: var(--step-5);
  font-family: 'Noto Serif Georgian', serif;
  font-weight: lighter;
  padding-right: 0.5em;
  background: linear-gradient(90deg, #0133D4 0%, rgba(1, 51, 212, 0.00) 100%);

}
.count-card > h2{
  font-size: var(--step--1);
  max-width: 40%;
  font-weight: lighter;
  padding-right: 0.5em;
  color: #8C8C8C;
  line-height: var(--step-0);
}
// give it a half background
strong{
  background: linear-gradient(90deg, #0133D4 0%, rgba(1, 51, 212, 0.00) 100%);
  background-size: 100% 50%;

}

.cards-row{
  display: flex;
  justify-content: space-around;
  padding: 5em 14em 10em 4em;
  overflow: hidden;
}

.promise-card{
  padding: 0.5em;
  width: 17em;
  height: 30em;
  background: #0055FF;
}

// make the image fit in a dev of size  width: 17em; height: 30em; make it aline itself to be in the bottom
.card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: -1.5em;
}

.card-title{
  font-size: var(--step-1);
  line-height: var(--step-2);
  padding: 1.5em 0.5em 0.5em;
}

.form {
  background: #0155FF;
  width: 92%;
  border-radius: 5em;
  overflow: hidden;
  margin-bottom: 7em;
  display: flex;
  padding: 3em;
  align-items: center;
}
.form-text-con > h2{
  padding-top: 1em;

  font-size: var(--step--2);
  color: white;
  font-weight: lighter;
}

.email-num{
  display: flex;
  justify-content: space-between;
}

.email-num > div{
  width: 50%;
  padding: 0 1em 0 0;
}
.email-num >div> h2{
  padding-top: 1em;
  font-size: var(--step--2);
  color: white;
  font-weight: lighter;
}

.email-num > h2{
  padding-top: 1em;
  font-size: var(--step--2);
  color: white;
  font-weight: lighter;
}




.form-image{
  width: 50%;
  height: auto;
  object-fit: cover;
  position: relative;

}

.form-title{
  font-size: var(--step-6);
  line-height: var(--step-6);
  padding: 1em;
  font-weight: lighter;
  max-width: 15ch;
  font-family: 'Noto Serif Georgian', serif;
}

.form-text-con{
  width: 100%
}
