<div class="page-container">
  <p class="hero-title">
    In Diyar, <strong> we deliver</strong> “International<strong> Quality</strong> by Local Professionals"
  </p>
</div>

<div class="screenshots">
  <img src="/assets/Screenshot%202023-07-07%20at%208.47.08%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot1">
  <img src="/assets/Screenshot%202023-07-07%20at%208.48.22%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot2">
  <img src="/assets/Screenshot%202023-07-07%20at%208.54.45%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot3">
  <img src="/assets/Screenshot%202023-07-07%20at%208.51.02%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot4">
  <img src="/assets/Screenshot%202023-07-07%20at%208.56.16%E2%80%AFPM.jpg" loading="lazy" alt="hero"
       class="inst-image screenshot5">
</div>

<div class="story-telling">
  <p class="paragraph-title">
    Partnering for Success
  </p>
  <p class="gray-text">
    Diyar is a technology company founded in 1980, offering innovative Information and Communication Technology
    solutions and services in Kuwait and the Middle East. They prioritize customer partnership, adding value to client
    businesses, and aim to be the preferred technology partner. Diyar measures success by client success, delivering
    solutions aligned with business objectives and international quality standards. They cater to various sectors and
    emphasize technical innovation, global alliances, and societal advancement. Their promise is "International Quality
    by Local Professionals," empowering businesses with excellence in technology.
  </p>
</div>
<div class="row">
  <h6>OVER THE YEARS</h6>
  <nb-icon icon="diagonal-arrow-right-up-outline" class="iconic"></nb-icon>
</div>


<div class="row-numbers">
  <div class="count-card">
    <h1>
      700+
    </h1>
    <h2>
      HAPPY CUSTOMERS
    </h2>
  </div>
  <div class="count-card">
    <h1>
      1799+
    </h1>
    <h2>
      PROFESSIONAL EMPLOYEES
    </h2>
  </div>
  <div class="count-card">
    <h1>
      6
    </h1>
    <h2>
      OPERATING COUNTRIES
    </h2>
  </div>
</div>

<div class="line"></div>

